body {
	font-family: "微软雅黑";
	font-size: 14px;
	color: #000000;
}

* {
	margin: 0 0;
	padding: 0 0;
}

a {
	text-decoration: none;
}

ul li{
	list-style-type: none;
}
.header {
	width: 100%;
	height: 86px;
	/*border: 1px solid darkblue;*/
	min-width: 1200px;
}

.header_top {
	width: 1000px;
	height: 85px;
	/*border: 1px solid salmon;*/
	margin: 0 auto;
}

.header_logo {
	width: 218px;
	height: 60px;
	/*border: 1px solid black;*/
	margin-top: 10px;
	float: left;
}

.header_logo img {
	width: 100%;
	height: 100%;
}

.header_nav {
	width: 600px;
	height: 85px;
	/*border: 1px solid green;*/
	float: right;
}

.header_nav>ul>li {
	float: left;
	line-height: 75px;
	padding: 15px;
	list-style-type: none;
}

.header_nav>ul>li>a {
	color: #000000;
}

.header_nav>ul>li>a:hover {
	color: mediumblue;
}

.lunbo {
	width: 100%;
	height: 430px;	
	border: 1px solid darkgoldenrod;
	/*background-color: dodgerblue;*/
	min-width: 1200px;
	background-image: url(../img/background.jpg);
	background-repeat:no-repeat ;
	background-size:cover;
}
.lunbo_cen{
	width: 71%;
	height: 430px;
	margin: 0 auto;
	font-family:FangSong_GB2312;
	/*border: 1px solid  red ;*/
}
.lunbo_text{
	width: 50%;
	height: 220px;
	float: left;
	/*border: 1px solid red;*/
	margin-top: 80px;
	color: white;
}
.lunbo_text span{
	font-size: 32px;
}
.lunbo_text input{
	width: 100px;
	height: 45px;
	background-color: #444445;
	border: 4px solid darkblue;
	margin-top: 50px;
	float: right;
	margin-right: 30px;
}
.lunbo input:hover{
	background-color: dodgerblue;
}
.lunbo_text p{
	padding-top: 20px;
}
.lunbo_img{
	width: 400px;
	height: 300px;
	float: right;
	margin-top: 50px;
}
.lunbo_img img{
	width: 100%;
	height: 100%;
}
/*.lunbo_img >img{
	width: 500px;
	height: 430px;
	float: right;
}
.lunbo_img span{
	width: 300px;
	height: 100%;
	color: white;
	font-size: 25px;
}*/

.conter_1 {
	width: 100%;
	height: 365px;
	/*border: 1px solid darkblue;*/
	margin-top: 5%;
	min-width: 1200px;
}

.conter_c {
	width: 950px;
	height: 365px;
	/*border: 1px solid firebrick;*/
	margin: 0 auto;
}

.conter_c_nav {
	width: 98%;
	height: 65px;
	margin: 0 auto;
}



.conter_c_nav_1 {
	width: 308px;
	height: 55px;
	float: left;
	/*background-color: orangered;*/
}
.conter_c_nav_1 div {
	color: white;
	line-height: 50px;
	/*padding-left: 30%;*/
	width: 308px;
	height: 55px;
	float: left;
	background-color: orangered;
	text-align: center;
	box-shadow: 2px 4px 6px #000;
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
}
.conter_c_nav_2 {
	width: 308px;
	height: 55px;
	/*	border: 1px solid green;*/
	float: left;
}
.conter_c_nav_2 div{
	width: 308px;
	height: 55px;
	color: white;
	line-height: 50px;
	text-align: center;
	background-color: dodgerblue;
	box-shadow: 2px 4px 6px #000;
	/*边框阴影*/
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;

}

.conter_c_nav_3 {
	width: 308px;
	height: 55px;
	/*border: 1px solid green;*/
	float: left;
}

.conter_c_nav_3 div{
	width: 308px;
	height: 55px;
	color: white;
	line-height: 50px;
	background-color: green;
	text-align: center;
	box-shadow: 2px 4px 6px #000;
	/*边框阴影*/
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
}

.conter_c_text {
	width: 96%;
	height: 280px;
	/*border: 1px solid firebrick;*/
	margin: 0 auto;
}

.conter_c_text_top {
	width: 100%;
	height: 140px;
	/*border: 1px solid red;*/
}

.conter_c_text_top_1 {
	width: 300px;
	height: 100px;
	/*border: 1px solid darkblue;*/
	float: left;
	padding-top: 20px;
	cursor: pointer; 
}
.conter_c_text_top_1:hover{
	border: 1px solid gainsboro;
}
.conter_c_text_top_c {
	width: 300px;
	height: 100px;
	/*border: 1px solid darkblue;*/
	float: left;
	padding-top: 20px;
	cursor: pointer;
}
.conter_c_text_top_c:hover{
	border: 1px solid gainsboro;
}
.conter_c_text_top_r {
	width: 300px;
	height: 100px;
	/*border: 1px solid darkblue;*/
	float: left;
	padding-top: 20px;
	cursor: pointer;
}
.conter_c_text_top_r:hover{
	border: 1px solid gainsboro;
}

.conter_c_text_top_1_img {
	width: 79px;
	height: 78px;
	/*border: 1px solid darkgoldenrod;*/
	float: left;
}

.conter_c_text_top_1_title {
	width: 217px;
	height: 78px;
	/*border: 1px solid firebrick;*/
	float: left;
}

.conter_c_text_top_1_title p {
	padding: 15px;
}

.conter_c_text_footer {
	width: 100%;
	height: 140px;
	/*border: 1px solid black;*/
}

.conter_c_text_footer_1 {
	width: 300px;
	height: 100px;
	/*border: 1px solid darkblue;*/
	float: left;
	cursor: pointer; 
}
.conter_c_text_footer_1:hover{
	border: 1px solid gainsboro;
}
.conter_c_text_footer_c {
	width: 300px;
	height: 100px;
	/*border: 1px solid darkblue;*/
	float: left;
	cursor: pointer;
}
.conter_c_text_footer_c:hover{
	border: 1px solid gainsboro;
}
.conter_c_text_footer_r {
	width: 300px;
	height: 100px;
	/*border: 1px solid darkblue;*/
	float: left;
	cursor: pointer
}
.conter_c_text_footer_r:hover{
	border: 1px solid gainsboro;
}

.conter_2 {
	width: 100%;
	height: 622px;
	/*border: 1px solid seagreen;*/
	min-width: 1200px;
}

.conter_2_c {
	width: 950px;
	height: 622px;
	/*border: 1px solid seagreen;*/
	margin: 0 auto;
}

.conter_2_c_top {
	width: 100%;
	height: 215px;
	/*border: 1px solid darkblue;*/
	margin: 0 auto;
	margin-top: 3%
}

.conter_2_c_top_1 {
	width: 445px;
	height: 215px;
	float: left;
	
}
.conter_2_c_top_l_c {
	width: 445px;
	height: 215px;
/*	box-shadow: 2px 4px 6px #000;
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	border:1px solid black;
	background-color: white;*/
	border: 4px solid gainsboro;
}

.conter_2_c_top_l_c a{
	color: cornflowerblue;
	font-size: 14px;
}
.conter_2_c_top_l_c >p{
	margin:10px 0 15px 15px;
	font-size: 16px;
	color:cornflowerblue;
}
.conter_2_c_top_1_a{
	margin-left: 15px;
	margin-top: 15px;
}
.conter_2_c_top_p{
	width: 400px;
	height: 120px;
	/*border: 1px solid saddlebrown;*/
}
.conter_2_c_top_p ul li{
	line-height: 30px;	
	list-style:disc;
	margin-left: 35px;
	font-size: 14px;
}
.conter_2_c_top_r {
	width: 445px;
	height: 215px;
	/*border: 1px solid darkcyan;*/
	float: right;
}
.conter_2_c_top_l_c a{
	color: cornflowerblue;
	font-size: 14px;
}
.conter_2_c_top_l_c >p{
	margin:10px 0 15px 15px;
	font-size: 16px;
	color:cornflowerblue;
}
.conter_2_c_footer {
	width: 100%;
	height: 215px;
	/*border: 1px solid darkblue;*/
	margin: 0 auto;
	margin-top: 10%;
}
.conter_2_c_footer_l {
	width: 445px;
	height: 215px;
	float: left;
}

.conter_2_c_footer_r {
	width: 445px;
	height: 215px;
	/*border: 1px solid darkcyan;*/
	float: right;
}

.footer {
	width: 100%;
	height: 385px;
	/*border: 1px solid darkblue;*/
	background-color: #15588C;
	min-width: 1200px;
}
.footer_c{
	width: 70%;
	height:385px;
	/*border: 1px solid saddlebrown;*/
	margin: 0 auto;
}
.footer_c_1{
	width: 23%;
	height: 300px;
	/*border: 1px solid seagreen;*/
	float: left;
	margin-top: 40px;
	color: white;
}
.footer_c_1 ul li{
	padding-bottom: 15px;
}
.footer ul{
	margin-top: 20px;
}
.footer_c_1 a{
	color: white;
}
.footer_c_1 a:hover{
	color: red;
}
